<!DOCTYPE html>
<html>
<head>
    <title>Loader Testing</title>
</head>
<body>
    <script src="/static/threading.js"></script>
    <link rel="stylesheet" href="/static/threading.css">
    <h1>Testing</h1>
    <label><b>Link State: </b></label><label id="sock-state">Down</label><br><br>
    <div style="width:60ch">
        <div class="button-row">
            <button onclick="startWork()" class="button-item">Start Process</button>
            <button onclick="cancelAllWork()" class="button-item">Cancel All</button>
            <button onclick="clearHistory()" class="button-item">Clear History</button>
        </div>
        <br>
        <div class="status-row">
            <div class="status-item">
                <label for="work-completed"><b>Completed:</b></label>
                <span id="work-completed" class="status-field">?</span>
            </div>
            <div class="status-item">
                <label for="work-active"><b>Active:</b></label>
                <span id="work-active" class="status-field">?</span>
            </div>
            <div class="status-item">
                <label for="work-queued"><b>Queued:</b></label>
                <span id="work-queued" class="status-field">?</span>
            </div>
        </div>
        <br>
        <div>
            <div class="report-row" id="work-reports"></div>
        </div>
    </div>
</body>
</html>