<!DOCTYPE html>
<html>
<head>
    <title>Loader Testing</title>
</head>
<body>
    <script src="/static/threading.js"></script>
    <link rel="stylesheet" href="/static/threading.css">
    <h1>Testing</h1>
    <button onclick="startProcess()">Start Process</button>
    <button onClick="clearHistory()">Clear Screen</button>
    <table>
        <tr>
            <td>Completed:</td>
            <td id="proc-completed" style="min-width:5ch">?</td>
            <td>Active:</td>
            <td id="proc-active" style="min-width:5ch">?</td>
            <td>Queued:</td>
            <td id="proc-queued" style="min-width:5ch">?</td>
        </tr>
    </table>
    <div style="height:400px;width:max-content;overflow-y:scroll;">
        <table id="proc-reports"></table>
    </div>
</body>
</html>