html {
    background-color: black;
    color: white;
}

.button-row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.button-item {
    width: 10ch;
    height: 6ch;
}

.status-row {
    width: 100%;
    display: flex;
    align-items: stretch;
}

.status-item {
    flex: 1 1 auto;
    flex-wrap: nowrap;
}

.status-field {
    min-width: 4ch;
}

.report-row {
    width: 100%;
    display: flex;
    flex-flow: column;
}

.report-item {
    flex: 1 1 auto;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    flex-flow: row;
    height: 4ch;
}

.report-title {
    background-color: black;
    width: 16ch;
}

.report-cancel {
    color: green;
    width: 4ch;
    height: 80%;
}

.report-bar {
    flex: 1 1 auto;
    border: 1px solid lightgrey;
    height: 100%;
    position: relative;
}

.report-progress {
    position: absolute;
    height: 80%;
    bottom: 10%;
    background-color: red;
}

.report-complete {
    flex: 1 1 auto;
    color: red;
}

.remove-report {
    color: red;
    width: 4ch;
    height: 80%;
}
