
.progress-bar {
    background-color: lightgrey;
    width: 40ch;
    min-height: 20px;
    position: relative;
}
.progress-text {
    min-height: 20px;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
}
.progress-value {
    min-height: 20px;
    background-color: blue;
    width: 0px;
}

.progress-complete {
    min-height: 20px;
    background-color: white;
    color: black;
}